.main_container{

    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s ease-in-out;
}

.main_container:hover{
    background: rgba(133, 205, 205, 0.486);
    border-radius: 10px;
}
    .main_container>img{
        width: 60px;
        /* height: 50px; */
        border-radius: 50%;
    }

.item_info{
    /* background-color: green; */
    width: 70%;
}

    .item_info>h3{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .item_info>h3:nth-child(2){
        font-size: 0.9rem;
        font-weight: 800;
    }

.item_option{
    /* background: yellow; */
    display: flex;
}

    .item_option>h2{
        /* background-color: aqua; */
        width: 50%;
        text-align: right;
    }

.buttons{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
    .buttons>button{
        background: purple;
        border-radius: 50%;
        color: #fff;
        width: 26px;
        border: none;
        transition: 0.2s ease-in-out;
    }
        .buttons>button:hover{
            transform: translateY(-2px);
        }

    .buttons>h3{
        font-size: 0.9rem;
        font-weight: 400;
    }

